[global]
server.socket_host = "127.0.0.1"
server.socket_port = 8000
server.thread_pool = 100
server.environment = "production"
engine.autoreload.on = True
engine.autoreload.frequency = 1

[/]
tools.staticdir.root: os.path.normpath(os.path.abspath(os.path.curdir))
tools.staticfile.root: os.path.normpath(os.path.abspath(os.path.curdir))
tools.gzip.on: True
tools.gzip.mime_types: ['text/html', 'text/plain', 'application/json', 'text/javascript', 'application/javascript']
tools.encode.on: True
tools.encode.encoding: "utf-8"
log.access_file: './tmp/access.log'
log.error_file': './tmp/error.log'

[/static]
tools.etags.on: True
tools.staticdir.debug: True
log.screen = True
tools.staticdir.on: True
tools.staticdir.dir: os.path.join("static")

[Databases]
driver: "postgres"
host: "localhost"
port: 5432

[/path]
response.timeout: 6000